<div class="massage-content">
  <div class="massage-upper">
    <div class="massage-name">
      <%= message.user.name %>
    </div>
    <div class="massage-timestamp">
      <%= message.created_at %>
    </div>
  </div>
  <div class="massage-lower">
    <div class="massage-text">
      <%= message.content %>
    </div>
  </div>
</div>
