<div class="side-bar-header">
  <div class="login-user-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="new-chat-link">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side-bar-rooms">
  <% 15.times do |room| %>
    <div class="room-content">
      <%= "TechRoom#{room + 1}" %>
    </div>
  <% end %>
</div>